/* Początek kodu, który ma za zadanie zresetować style automatycznie nadane przez przeglądarkę*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Koniec kodu, który ma za zadanie zresetować style automatycznie nadane przez przeglądarkę*/

/* Kolor nadany dla strony*/
body 
{ 
    background-color: #C5C5C5; 
}

/* Ustawienia klasy main dla sekcji głównej strony*/
.main
{
    width: 1000px;
    height: auto;
    margin: auto;
    background: black;
}

/* Ustawienia klasy header dla sekcji nagłówka*/
#header
{
    width: 1000px;
    height: 225px;
    margin: auto;
    background-color: black;
    border-bottom: 5px groove #C5C5C5;
}

/* Ustawienia lewej strony*/
#left
{
    width: 795px;
    height: 600px;
    background-color: white;
    float: left;
}

/* Ustawienia prawej strony*/
#right
{
    width: 200px;
    height: 600px;
    background-color: white;
    float: right;
    border-left: 5px groove #C5C5C5;
}

/* Ustawienia ID kategorii w pasku bocznym*/
#categories
{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Ustawienia listy li w pasku bocznym*/
#categories li
{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Ustawienia odnośnika a w pasku bocznym*/
#categories a
{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Ustawienia najechania na odnośnik a w posku bocznym*/
#categories a:hover
{
    color: #C5C5C5;
}